@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color: #384050;
  background-color: #f1f8ff;
}

body {
  margin: 0;
  min-height: 100vh;
}
